[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
asyncpg = "*"
sqlmodel = "*"
uvicorn = "*"
sqlalchemy2-stubs = "==0.0.2a17"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
